In [1]:
import tabula
import pandas as pd

In [2]:
pdf_path = "perry.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="155-162")
# read_pdf returns list of DataFrames
print(len(dfs))

8

In [3]:
dfs[0].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,ΔHv at,Unnamed: 11,ΔHv
0,Cmpd. no.*,NaN,Name,Formula,CAS,Mol. wt.,C1 × 1E-07,C2,C3,C4,"Tmin , K",Tmin × 1E-07,"Tmax , K",at Tmax
1,1,Acetaldehyde,NaN,C2H4O,75-07-0,44.05256,3.4088,0.043317,0.21502,0.23791,149.780,3.23240,466.000,0
2,2,Acetamide,NaN,C2H5NO,60-35-5,59.0672,9.9475,0.94835,-0.51011,0.015094,353.150,6.36890,761.000,0
3,3,Acetic acid,NaN,C2H4O2,64-19-7,60.052,6.127546,3.683421,-6.193052,2.977694,289.810,2.44660,591.950,0
4,4,Acetic anhydride,NaN,C4H6O3,108-24-7,102.08864,5.8564,0.33055,-0.057073,0.083671,200.150,5.14960,606.000,0

In [4]:
dfs0 = dfs[0].drop(["Unnamed: 2"], axis=1)
dfs0.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,ΔHv at,Unnamed: 11,ΔHv
0,Cmpd. no.*,NaN,Formula,CAS,Mol. wt.,C1 × 1E-07,C2,C3,C4,"Tmin , K",Tmin × 1E-07,"Tmax , K",at Tmax
1,1,Acetaldehyde,C2H4O,75-07-0,44.05256,3.4088,0.043317,0.21502,0.23791,149.780,3.23240,466.000,0
2,2,Acetamide,C2H5NO,60-35-5,59.0672,9.9475,0.94835,-0.51011,0.015094,353.150,6.36890,761.000,0
3,3,Acetic acid,C2H4O2,64-19-7,60.052,6.127546,3.683421,-6.193052,2.977694,289.810,2.44660,591.950,0
4,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,5.8564,0.33055,-0.057073,0.083671,200.150,5.14960,606.000,0

In [5]:
dfs0 = dfs0.drop([0], axis=0)
dfs0.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,ΔHv at,Unnamed: 11,ΔHv
1,1,Acetaldehyde,C2H4O,75-07-0,44.05256,3.4088,0.043317,0.21502,0.23791,149.780,3.23240,466.000,0
2,2,Acetamide,C2H5NO,60-35-5,59.0672,9.9475,0.94835,-0.51011,0.015094,353.150,6.36890,761.000,0
3,3,Acetic acid,C2H4O2,64-19-7,60.052,6.127546,3.683421,-6.193052,2.977694,289.810,2.44660,591.950,0
4,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,5.8564,0.33055,-0.057073,0.083671,200.150,5.14960,606.000,0
5,5,Acetone,C3H6O,67-64-1,58.07914,4.9258,1.0809,-1.3684,0.69723,178.450,3.66050,508.200,0

In [6]:
dfs0.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
dfs0.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
1,1,Acetaldehyde,C2H4O,75-07-0,44.05256,3.4088,0.043317,0.21502,0.23791,149.780,3.23240,466.000,0
2,2,Acetamide,C2H5NO,60-35-5,59.0672,9.9475,0.94835,-0.51011,0.015094,353.150,6.36890,761.000,0
3,3,Acetic acid,C2H4O2,64-19-7,60.052,6.127546,3.683421,-6.193052,2.977694,289.810,2.44660,591.950,0
4,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,5.8564,0.33055,-0.057073,0.083671,200.150,5.14960,606.000,0
5,5,Acetone,C3H6O,67-64-1,58.07914,4.9258,1.0809,-1.3684,0.69723,178.450,3.66050,508.200,0

In [7]:
dfs0['C1'] = dfs0['C1'].astype(float).mul(1E07)
dfs0['DHmin'] = dfs0['DHmin'].astype(float).mul(1E07)

In [8]:
dfs0.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
1,1,Acetaldehyde,C2H4O,75-07-0,44.05256,34088000.0,0.043317,0.21502,0.23791,149.780,32324000.0,466.000,0
2,2,Acetamide,C2H5NO,60-35-5,59.0672,99475000.0,0.94835,-0.51011,0.015094,353.150,63689000.0,761.000,0
3,3,Acetic acid,C2H4O2,64-19-7,60.052,61275460.0,3.683421,-6.193052,2.977694,289.810,24466000.0,591.950,0
4,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,58564000.0,0.33055,-0.057073,0.083671,200.150,51496000.0,606.000,0
5,5,Acetone,C3H6O,67-64-1,58.07914,49258000.0,1.0809,-1.3684,0.69723,178.450,36605000.0,508.200,0

In [9]:
dfs[1].head()

,47,Carbon dioxide,CO2,124-38-9,44.0095,2.173,0.382,-0.4339,0.42213,216.580,1.52020,304.210,0
0,48,Carbon disulfide,CS2,75-15-0,76.1407,4.0359,1.08970,-1.64830,0.977900,161.11,3.17860,552.00,0
1,49,Carbon monoxide,CO,630-08-0,28.0101,0.8585,0.49210,-0.32600,0.223100,68.13,0.65166,132.92,0
2,50,Carbon tetrachloride,CCl4,56-23-5,153.8227,4.6113,0.55241,-0.18725,0.022973,250.33,3.47600,556.35,0
3,51,Carbon tetrafluoride,CF4,75-73-0,88.0043,1.9311,0.94983,-1.06150,0.518940,89.56,1.42150,227.51,0
4,52,Chlorine,Cl2,7782-50-5,70.9060,3.0680,0.84580,-0.90010,0.453000,172.12,2.28780,417.15,0

In [10]:
dfs1_linha = dfs[1].columns
dfs1_linha_df = pd.DataFrame(dfs1_linha)
dfs1 = dfs1_linha_df.T
dfs1.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']

dfs[1].columns=column_names
dfs[1]
merged_ds1 = pd.concat([dfs1, dfs[1]], ignore_index=True)
merged_ds1['C1'] = merged_ds1['C1'].astype(float).mul(1E07)
merged_ds1['DHmin'] = merged_ds1['DHmin'].astype(float).mul(1E07)
merged_ds1.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
0,47,Carbon dioxide,CO2,124-38-9,44.0095,21730000.0,0.382,-0.4339,0.42213,216.580,15202000.0,304.210,0
1,48,Carbon disulfide,CS2,75-15-0,76.1407,40359000.0,1.0897,-1.6483,0.9779,161.11,31786000.0,552.0,0
2,49,Carbon monoxide,CO,630-08-0,28.0101,8585000.0,0.4921,-0.326,0.2231,68.13,6516600.0,132.92,0
3,50,Carbon tetrachloride,CCl4,56-23-5,153.8227,46113000.0,0.55241,-0.18725,0.022973,250.33,34760000.0,556.35,0
4,51,Carbon tetrafluoride,CF4,75-73-0,88.0043,19311000.0,0.94983,-1.0615,0.51894,89.56,14215000.0,227.51,0

In [11]:
dfs[2].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ΔHv at,Unnamed: 10,ΔHv
0,Cmpd. no.*,Name,Formula,CAS,Mol. wt.,C1 × 1E-07,C2,C3,C4,"Tmin , K",Tmin × 1E-07,"Tmax , K",at Tmax
1,97,"1,1-Difluoroethane",C2H4F2,75-37-6,66.04997,3.663,0.93553,-0.9806,0.46753,154.560,2.67130,386.440,0
2,98,"1,2-Difluoroethane",C2H4F2,624-72-6,66.04997,4.2313,0.90591,-0.59583,0.074323,215.000,2.78200,445.000,0
3,99,Difluoromethane,CH2F2,75-10-5,52.02339,3.3907,1.1148,-1.2957,0.58214,136.950,2.40150,351.255,0
4,100,Diisopropyl amine,C6H15N,108-18-9,101.19,2.8258,-1.5731,2.9709,-1.1073,176.850,3.76470,523.100,0

In [12]:
dfs2 = dfs[2].drop([0], axis=0)
dfs2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ΔHv at,Unnamed: 10,ΔHv
1,97,"1,1-Difluoroethane",C2H4F2,75-37-6,66.04997,3.663,0.93553,-0.9806,0.46753,154.560,2.67130,386.440,0
2,98,"1,2-Difluoroethane",C2H4F2,624-72-6,66.04997,4.2313,0.90591,-0.59583,0.074323,215.000,2.78200,445.000,0
3,99,Difluoromethane,CH2F2,75-10-5,52.02339,3.3907,1.1148,-1.2957,0.58214,136.950,2.40150,351.255,0
4,100,Diisopropyl amine,C6H15N,108-18-9,101.19,2.8258,-1.5731,2.9709,-1.1073,176.850,3.76470,523.100,0
5,101,Diisopropyl ether,C6H14O,108-20-3,102.17476,4.630224,1.265631,-2.325122,1.525306,187.650,3.47860,500.050,0

In [13]:
dfs2.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
dfs2['C1'] = dfs2['C1'].astype(float).mul(1E07)
dfs2['DHmin'] = dfs2['DHmin'].astype(float).mul(1E07)
dfs2.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
1,97,"1,1-Difluoroethane",C2H4F2,75-37-6,66.04997,36630000.0,0.93553,-0.9806,0.46753,154.560,26713000.0,386.440,0
2,98,"1,2-Difluoroethane",C2H4F2,624-72-6,66.04997,42313000.0,0.90591,-0.59583,0.074323,215.000,27820000.0,445.000,0
3,99,Difluoromethane,CH2F2,75-10-5,52.02339,33907000.0,1.1148,-1.2957,0.58214,136.950,24015000.0,351.255,0
4,100,Diisopropyl amine,C6H15N,108-18-9,101.19,28258000.0,-1.5731,2.9709,-1.1073,176.850,37647000.0,523.100,0
5,101,Diisopropyl ether,C6H14O,108-20-3,102.17476,46302240.0,1.265631,-2.325122,1.525306,187.650,34786000.0,500.050,0

In [14]:
dfs[3].head()

,142,Ethylhexyl ether,C8H18O,5756-43-4,130.22792,6.6828,0.6664,-0.4545,0.20227,180.000,5.46390,583.000,0
0,143,Ethylisopropyl ether,C5H12O,625-54-7,88.14818,4.2527,0.420140,-0.17341,0.14204,140.00,3.7384,489.00,0
1,144,Ethylisopropyl ketone,C6H12O,565-69-5,100.15888,5.6735,0.858640,-1.1249,0.69714,204.15,4.4504,567.00,0
2,145,Ethyl mercaptan,C2H6S,75-08-1,62.13404,4.2920,0.937260,-1.0593,0.54636,125.26,3.5001,499.15,0
3,146,Ethyl propionate,C5H10O2,105-37-3,102.13170,5.0330,-0.023028,0.84791,-0.44199,199.25,4.5390,546.00,0
4,147,Ethylpropyl ether,C5H12O,628-32-0,88.14818,5.4380,0.606240,NaN,NaN,145.65,4.4140,500.23,0

In [15]:
dfs3_linha = dfs[3].columns
dfs3_linha_df = pd.DataFrame(dfs3_linha)
dfs3 = dfs3_linha_df.T
dfs3.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']

dfs[3].columns=column_names
dfs[3]
merged_ds3 = pd.concat([dfs3, dfs[3]], ignore_index=True)
merged_ds3['C1'] = merged_ds3['C1'].astype(float).mul(1E07)
merged_ds3['DHmin'] = merged_ds3['DHmin'].astype(float).mul(1E07)
merged_ds3.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
0,142,Ethylhexyl ether,C8H18O,5756-43-4,130.22792,66828000.0,0.6664,-0.4545,0.20227,180.000,54639000.0,583.000,0
1,143,Ethylisopropyl ether,C5H12O,625-54-7,88.14818,42527000.0,0.42014,-0.17341,0.14204,140.0,37384000.0,489.0,0
2,144,Ethylisopropyl ketone,C6H12O,565-69-5,100.15888,56735000.0,0.85864,-1.1249,0.69714,204.15,44504000.0,567.0,0
3,145,Ethyl mercaptan,C2H6S,75-08-1,62.13404,42920000.0,0.93726,-1.0593,0.54636,125.26,35001000.0,499.15,0
4,146,Ethyl propionate,C5H10O2,105-37-3,102.1317,50330000.0,-0.023028,0.84791,-0.44199,199.25,45390000.0,546.0,0

In [18]:
dfs[4].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ΔHv at,Unnamed: 10,ΔHv
0,Cmpd. no.*,Name,Formula,CAS,Mol. wt.,C1 × 1E-07,C2,C3,C4,"Tmin , K",Tmin × 1E-07,"Tmax , K",at Tmax
1,192,Methacrylic acid,C4H6O2,79-41-4,86.08924,176.7855,16.29674,–28.8053,14.522,288.150,4.28480,662.000,0
2,193,Methane,CH4,74-82-8,16.0425,1.0194,0.26087,-0.14694,0.22154,90.690,0.87235,190.564,0
3,194,Methanol,CH4O,67-56-1,32.04186,3.2615,-1.0407,1.8695,-0.60801,175.470,3.97480,512.500,0
4,195,N-Methyl acetamide,C3H7NO,79-16-3,73.09378,6.8795,0.012343,0.77544,-0.4379,301.150,5.97080,718.000,0

In [19]:
dfs4 = dfs[4].drop([0], axis=0)
dfs4.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
dfs4['C1'] = dfs4['C1'].astype(float).mul(1E07)
dfs4['DHmin'] = dfs4['DHmin'].astype(float).mul(1E07)
dfs4.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
1,97,"1,1-Difluoroethane",C2H4F2,75-37-6,66.04997,36630000.0,0.93553,-0.9806,0.46753,154.560,26713000.0,386.440,0
2,98,"1,2-Difluoroethane",C2H4F2,624-72-6,66.04997,42313000.0,0.90591,-0.59583,0.074323,215.000,27820000.0,445.000,0
3,99,Difluoromethane,CH2F2,75-10-5,52.02339,33907000.0,1.1148,-1.2957,0.58214,136.950,24015000.0,351.255,0
4,100,Diisopropyl amine,C6H15N,108-18-9,101.19,28258000.0,-1.5731,2.9709,-1.1073,176.850,37647000.0,523.100,0
5,101,Diisopropyl ether,C6H14O,108-20-3,102.17476,46302240.0,1.265631,-2.325122,1.525306,187.650,34786000.0,500.050,0

In [20]:
dfs[5].head()

,237,2-Methyl-2-propanol,C4H10O,75-65-0,74.1216,2.2708,-3.8183,6.7137,-2.7247,298.970,4.65420,506.200,0
0,238,2-Methyl propene,C4H8,115-11-7,56.10632,4.3172,1.53340,-1.90000,0.83816,132.81,2.9292,417.90,0
1,239,Methyl propionate,C4H8O2,554-12-1,88.10512,4.9563,0.22568,0.45949,-0.31541,185.65,4.2669,530.60,0
2,240,Methylpropyl ether,C4H10O,557-17-5,74.12160,4.2364,0.25325,0.58114,-0.47570,133.97,3.7378,476.25,0
3,241,Methylpropyl sulfide,C4H10S,3877-15-4,90.18720,5.7015,1.00150,-0.95589,0.38421,160.17,4.4234,565.00,0
4,242,Methylsilane,CH6Si,992-94-9,46.14384,2.0613,0.33885,-0.63279,0.64540,116.34,1.9024,352.50,0

In [21]:
dfs5_linha = dfs[5].columns
dfs5_linha_df = pd.DataFrame(dfs5_linha)
dfs5 = dfs5_linha_df.T
dfs5.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']

dfs[5].columns=column_names
dfs[5]
merged_ds5 = pd.concat([dfs5, dfs[5]], ignore_index=True)
merged_ds5['C1'] = merged_ds5['C1'].astype(float).mul(1E07)
merged_ds5['DHmin'] = merged_ds5['DHmin'].astype(float).mul(1E07)
merged_ds5.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
0,237,2-Methyl-2-propanol,C4H10O,75-65-0,74.1216,22708000.0,-3.8183,6.7137,-2.7247,298.970,46542000.0,506.200,0
1,238,2-Methyl propene,C4H8,115-11-7,56.10632,43172000.0,1.5334,-1.9,0.83816,132.81,29292000.0,417.9,0
2,239,Methyl propionate,C4H8O2,554-12-1,88.10512,49563000.0,0.22568,0.45949,-0.31541,185.65,42669000.0,530.6,0
3,240,Methylpropyl ether,C4H10O,557-17-5,74.1216,42364000.0,0.25325,0.58114,-0.4757,133.97,37378000.0,476.25,0
4,241,Methylpropyl sulfide,C4H10S,3877-15-4,90.1872,57015000.0,1.0015,-0.95589,0.38421,160.17,44234000.0,565.0,0

In [22]:
dfs[6].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ΔHv at,Unnamed: 10,ΔHv
0,Cmpd. no.*,Name,Formula,CAS,Mol. wt.,C1 × 1E-07,C2,C3,C4,"Tmin , K",Tmin × 1E-07,"Tmax , K",at Tmax
1,287,Pentyl mercaptan,C5H12S,110-66-7,104.21378,5.4925,0.38608,0.12415,-0.13245,197.450,4.65540,598.000,0
2,288,1-Pentyne,C5H8,627-19-0,68.11702,5.1346,1.3829,-1.6264,0.67069,167.450,3.49690,481.200,0
3,289,2-Pentyne,C5H8,627-21-4,68.11702,5.4839,0.98943,-0.46159,-0.064298,163.830,3.99170,519.000,0
4,290,Phenanthrene,C14H10,85-01-8,178.2292,10.336,1.0678,-1.0693,0.39121,372.380,7.05940,869.000,0

In [23]:
dfs6 = dfs[6].drop([0], axis=0)
dfs6.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
dfs6['C1'] = dfs6['C1'].astype(float).mul(1E07)
dfs6['DHmin'] = dfs6['DHmin'].astype(float).mul(1E07)
dfs6.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
1,287,Pentyl mercaptan,C5H12S,110-66-7,104.21378,54925000.0,0.38608,0.12415,-0.13245,197.450,46554000.0,598.000,0
2,288,1-Pentyne,C5H8,627-19-0,68.11702,51346000.0,1.3829,-1.6264,0.67069,167.450,34969000.0,481.200,0
3,289,2-Pentyne,C5H8,627-21-4,68.11702,54839000.0,0.98943,-0.46159,-0.064298,163.830,39917000.0,519.000,0
4,290,Phenanthrene,C14H10,85-01-8,178.2292,103360000.0,1.0678,-1.0693,0.39121,372.380,70594000.0,869.000,0
5,291,Phenol,C6H6O,108-95-2,94.11124,62830000.0,-0.64878,2.4219,-1.4972,314.060,57735000.0,694.250,0

In [24]:
dfs[7].head()

,322,Tetrahydrothiophene,C4H8S,110-01-0,88.17132,5.2918,0.57615,-0.32236,0.15218,176.990,4.49330,631.950,0
0,323,"2,2,3,3-Tetramethylbutane",C8H18,594-82-1,114.22852,3.8116,-0.60048,1.65010,-0.73052,373.96,3.1780,568.00,0
1,324,Thiophene,C4H4S,110-02-1,84.13956,5.2472,0.78829,-0.47503,0.098333,234.94,3.8171,579.35,0
2,325,Toluene,C7H8,108-88-3,92.13842,5.4643,0.76764,-0.62056,0.25935,178.18,4.4006,591.75,0
3,326,"1,1,2-Trichloroethane",C2H3Cl3,79-00-5,133.40422,4.1283,-0.34796,1.01180,-0.32712,236.50,4.1303,602.00,0
4,327,Tridecane,C13H28,629-50-5,184.36142,11.7200,1.60040,-1.66890,0.56396,267.76,6.9747,675.00,0

In [25]:
dfs7_linha = dfs[7].columns
dfs7_linha_df = pd.DataFrame(dfs7_linha)
dfs7 = dfs7_linha_df.T
dfs7.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'C1', 'C2', 'C3', 'C4', 'Tmin', 'DHmin', 'Tmax', 'DHmax']

dfs[7].columns=column_names
dfs[7]
merged_ds7 = pd.concat([dfs7, dfs[7]], ignore_index=True)
merged_ds7['C1'] = merged_ds7['C1'].astype(float).mul(1E07)
merged_ds7['DHmin'] = merged_ds7['DHmin'].astype(float).mul(1E07)
merged_ds7.head()

,compound,Name,Formula,CAS,MolWeight,C1,C2,C3,C4,Tmin,DHmin,Tmax,DHmax
0,322,Tetrahydrothiophene,C4H8S,110-01-0,88.17132,52918000.0,0.57615,-0.32236,0.15218,176.990,44933000.0,631.950,0
1,323,"2,2,3,3-Tetramethylbutane",C8H18,594-82-1,114.22852,38116000.0,-0.60048,1.6501,-0.73052,373.96,31780000.0,568.0,0
2,324,Thiophene,C4H4S,110-02-1,84.13956,52472000.0,0.78829,-0.47503,0.098333,234.94,38171000.0,579.35,0
3,325,Toluene,C7H8,108-88-3,92.13842,54643000.0,0.76764,-0.62056,0.25935,178.18,44006000.0,591.75,0
4,326,"1,1,2-Trichloroethane",C2H3Cl3,79-00-5,133.40422,41283000.0,-0.34796,1.0118,-0.32712,236.5,41303000.0,602.0,0

In [56]:
entalpia_vap = pd.concat([dfs0, merged_ds1, dfs2, merged_ds3, dfs4, merged_ds5, dfs6, merged_ds7], ignore_index=True)

In [63]:
entalpia_vap.dtypes

compound      object
Name          object
Formula       object
CAS           object
MolWeight     object
C1           float64
C2            object
C3            object
C4            object
Tmin          object
DHmin        float64
Tmax          object
DHmax         object
dtype: object

In [71]:
import re
# Remova espaços em branco e o sinal de menos
for i in range(len(entalpia_vap)):
    #entalpia_vap['C2'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['C2'][i].replace(" ", "").replace("−", "-")))
    #entalpia_vap['C3'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['C3'][i].replace(" ", "").replace("−", "-")))
    #entalpia_vap['C4'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['C4'][i].replace(" ", "").replace("−", "-")))
    #entalpia_vap['Tmin'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['Tmin'][i].replace(" ", "").replace("−", "-")))
    #entalpia_vap['Tmax'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['Tmax'][i].replace(" ", "").replace("−", "-")))
    #entalpia_vap['DHmax'][i] = float(re.sub(r'[^\d.-E]', '',entalpia_vap['DHmax'][i].replace(" ", "").replace("−", "-")))

AttributeError: 'float' object has no attribute 'replace'

In [80]:
entalpia_vap.to_csv('entalpia_vap.csv', index=False, float_format='%.5e')