In [1]:
import tabula
import pandas as pd

In [3]:
pdf_path = "perry.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True, pages="218-224")
# read_pdf returns list of DataFrames
print(len(dfs))

7

In [6]:
dfs[0].head()

,Cmpd. no.,Unnamed: 0,Name,Formula,CAS,Mol. wt.,"TC, K","PC, MPa","V , m3C",/kmol,Unnamed: 1,ZC,Acentric factor
0,1,Acetaldehyde,NaN,C2H4O,75-07-0,44.05256,466.00,5.570,NaN,0.154,NaN,0.221,0.262493
1,2,Acetamide,NaN,C2H5NO,60-35-5,59.06720,761.00,6.600,NaN,0.215,NaN,0.224,0.421044
2,3,Acetic acid,NaN,C2H4O2,64-19-7,60.05200,591.95,5.786,NaN,0.177,NaN,0.208,0.466521
3,4,Acetic anhydride,NaN,C4H6O3,108-24-7,102.08864,606.00,4.000,NaN,0.304,NaN,0.241,0.455328
4,5,Acetone,NaN,C3H6O,67-64-1,58.07914,508.20,4.701,NaN,0.209,NaN,0.233,0.306527

In [9]:
dfs0 = dfs[0].dropna(axis=1)
dfs0.head()

,Cmpd. no.,Unnamed: 0,Formula,CAS,Mol. wt.,"TC, K","PC, MPa",/kmol,ZC,Acentric factor
0,1,Acetaldehyde,C2H4O,75-07-0,44.05256,466.00,5.570,0.154,0.221,0.262493
1,2,Acetamide,C2H5NO,60-35-5,59.06720,761.00,6.600,0.215,0.224,0.421044
2,3,Acetic acid,C2H4O2,64-19-7,60.05200,591.95,5.786,0.177,0.208,0.466521
3,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,606.00,4.000,0.304,0.241,0.455328
4,5,Acetone,C3H6O,67-64-1,58.07914,508.20,4.701,0.209,0.233,0.306527

In [10]:
dfs0.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
dfs0.head()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
0,1,Acetaldehyde,C2H4O,75-07-0,44.05256,466.00,5.570,0.154,0.221,0.262493
1,2,Acetamide,C2H5NO,60-35-5,59.06720,761.00,6.600,0.215,0.224,0.421044
2,3,Acetic acid,C2H4O2,64-19-7,60.05200,591.95,5.786,0.177,0.208,0.466521
3,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,606.00,4.000,0.304,0.241,0.455328
4,5,Acetone,C3H6O,67-64-1,58.07914,508.20,4.701,0.209,0.233,0.306527

In [15]:
dfs[1].head()

,Cmpd. no.,Unnamed: 0,Name,Formula,CAS,Mol. wt.,"TC, K","PC, MPa","V C, m /kmol",3,Unnamed: 1,ZC,Acentric factor
0,53,Chlorobenzene,NaN,C6H5Cl,108-90-7,112.55690,632.35,4.5191,NaN,0.308,NaN,0.265,0.249857
1,54,Chloroethane,NaN,C2H5Cl,75-00-3,64.51410,460.35,5.2700,NaN,0.192,NaN,0.264,0.188591
2,55,Chloroform,NaN,CHCl3,67-66-3,119.37764,536.40,5.4720,NaN,0.239,NaN,0.293,0.221902
3,56,Chloromethane,NaN,CH3Cl,74-87-3,50.48750,416.25,6.6800,NaN,0.141,NaN,0.272,0.151
4,57,1-Chloropropane,NaN,C3H7Cl,540-54-5,78.54068,503.15,4.4250,NaN,0.243,NaN,0.257,0.215047

In [16]:
dfs1 = dfs[1].dropna(axis=1)
dfs1.head()

,Cmpd. no.,Unnamed: 0,Formula,CAS,Mol. wt.,"TC, K","PC, MPa",3,ZC,Acentric factor
0,53,Chlorobenzene,C6H5Cl,108-90-7,112.55690,632.35,4.5191,0.308,0.265,0.249857
1,54,Chloroethane,C2H5Cl,75-00-3,64.51410,460.35,5.2700,0.192,0.264,0.188591
2,55,Chloroform,CHCl3,67-66-3,119.37764,536.40,5.4720,0.239,0.293,0.221902
3,56,Chloromethane,CH3Cl,74-87-3,50.48750,416.25,6.6800,0.141,0.272,0.151
4,57,1-Chloropropane,C3H7Cl,540-54-5,78.54068,503.15,4.4250,0.243,0.257,0.215047

In [20]:
dfs1.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
dfs1.tail()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
48,101,Di–isopropyl ether,C6H14O,108-20-3,102.17476,500.05,2.880,0.386,0.267,0.338683
49,102,Di–isopropyl ketone,C7H14O,565-80-0,114.18546,576.00,3.020,0.416,0.262,0.404427
50,103,"1,1-Dimethoxyethane",C4H10O2,534-15-6,90.12100,507.80,3.773,0.297,0.265,0.32768
51,104,"1,2-Dimethoxypropane",C5H12O2,7778-85-0,104.14758,543.00,3.446,0.350,0.267,0.352222
52,105,Dimethyl acetylene,C4H6,503-17-3,54.09044,473.20,4.870,0.221,0.274,0.238542

In [18]:
dfs[2].head()

,106,Dimethyl amine,C2H7N,124-40-3,45.08368,437.2,5.34,0.18,0.264,0.299885
0,107,"2,3-Dimethylbutane",C6H14,79-29-8,86.17536,500.00,3.15000,0.361,0.274,0.249251
1,108,"1,1-Dimethylcyclohexane",C8H16,590-66-9,112.21264,591.15,2.93843,0.450,0.269,0.232569
2,109,"cis-1,2-Dimethylcyclohexane",C8H16,2207-01-4,112.21264,606.15,2.93843,0.460,0.268,0.232443
3,110,"trans-1,2-Dimethylcyclohexane",C8H16,6876-23-9,112.21264,596.15,2.93843,0.460,0.273,0.237864
4,111,Dimethyl disulfide,C2H6S2,624-92-0,94.19904,615.00,5.36000,0.252,0.264,0.205916

In [21]:
dfs2_linha = dfs[2].columns
dfs2_linha_df = pd.DataFrame(dfs2_linha)
dfs2 = dfs2_linha_df.T
dfs2.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']

dfs[2].columns=column_names
dfs[2]
merged_ds2 = pd.concat([dfs2, dfs[2]], ignore_index=True)
merged_ds2.tail()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
50,156,Furan,C4H4O,110-00-9,68.07396,490.15,5.5,0.218,0.294,0.201538
51,157,Helium-4,He,7440-59-7,4.0026,5.2,0.2275,0.0573,0.302,−0.390032
52,158,Heptadecane,C17H36,629-78-7,240.46774,736.0,1.34,1.11,0.244,0.769688
53,159,Heptanal,C7H14O,111-71-7,114.18546,620.0,3.16,0.434,0.266,0.405751
54,160,Heptane,C7H16,142-82-5,100.20194,540.2,2.74,0.428,0.261,0.349469

In [23]:
dfs[3].head()

,Cmpd. no.,Unnamed: 0,Name,Formula,CAS,Mol. wt.,"TC, K","PC, MPa","V C, m /kmol",3,Unnamed: 1,ZC,Acentric factor
0,161,Heptanoic acid,NaN,C7H14O2,111-14-8,130.18500,677.3,3.043,NaN,0.466,NaN,0.252,0.759934
1,162,1-Heptanol,NaN,C7H16O,111-70-6,116.20134,632.3,3.085,NaN,0.444,NaN,0.261,0.562105
2,163,2-Heptanol,NaN,C7H16O,543-49-7,116.20134,608.3,3.000,NaN,0.447,NaN,0.265,0.567733
3,164,3-Heptanone,NaN,C7H14O,106-35-4,114.18546,606.6,2.920,NaN,0.433,NaN,0.251,0.407565
4,165,2-Heptanone,NaN,C7H14O,110-43-0,114.18546,611.4,2.940,NaN,0.434,NaN,0.251,0.418982

In [24]:
dfs3 = dfs[3].dropna(axis=1)
dfs3.head()

,Cmpd. no.,Unnamed: 0,Formula,CAS,Mol. wt.,"TC, K","PC, MPa",3,ZC,Acentric factor
0,161,Heptanoic acid,C7H14O2,111-14-8,130.18500,677.3,3.043,0.466,0.252,0.759934
1,162,1-Heptanol,C7H16O,111-70-6,116.20134,632.3,3.085,0.444,0.261,0.562105
2,163,2-Heptanol,C7H16O,543-49-7,116.20134,608.3,3.000,0.447,0.265,0.567733
3,164,3-Heptanone,C7H14O,106-35-4,114.18546,606.6,2.920,0.433,0.251,0.407565
4,165,2-Heptanone,C7H14O,110-43-0,114.18546,611.4,2.940,0.434,0.251,0.418982

In [25]:
dfs3.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
dfs3.head()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
0,161,Heptanoic acid,C7H14O2,111-14-8,130.18500,677.3,3.043,0.466,0.252,0.759934
1,162,1-Heptanol,C7H16O,111-70-6,116.20134,632.3,3.085,0.444,0.261,0.562105
2,163,2-Heptanol,C7H16O,543-49-7,116.20134,608.3,3.000,0.447,0.265,0.567733
3,164,3-Heptanone,C7H14O,106-35-4,114.18546,606.6,2.920,0.433,0.251,0.407565
4,165,2-Heptanone,C7H14O,110-43-0,114.18546,611.4,2.940,0.434,0.251,0.418982

In [26]:
dfs[4].head()

,214,1-Methylcyclohexanol,C7H14O,590-67-0,114.18546,686,4,0.374,0.262,0.221299
0,215,cis-2-Methylcyclohexanol,C7H14O,7443-70-1,114.18546,614.0,3.79,0.374,0.278,0.68049
1,216,trans-2-Methylcyclohexanol,C7H14O,7443-52-9,114.18546,617.0,3.79,0.374,0.276,0.67904
2,217,Methylcyclopentane,C6H12,96-37-7,84.15948,532.7,3.79,0.319,0.273,0.228759
3,218,1-Methylcyclopentene,C6H10,693-89-0,82.14360,542.0,4.13,0.303,0.278,0.23179
4,219,3-Methylcyclopentene,C6H10,1120-62-3,82.14360,526.0,4.13,0.303,0.286,0.229606

In [27]:
dfs4_linha = dfs[4].columns
dfs4_linha_df = pd.DataFrame(dfs4_linha)
dfs4 = dfs4_linha_df.T
dfs4.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']

dfs[4].columns=column_names
dfs[4]
merged_ds4 = pd.concat([dfs4, dfs[4]], ignore_index=True)
merged_ds4.tail()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
50,264,Octanal,C8H16O,124-13-0,128.212,638.9,2.96,0.488,0.272,0.441993
51,265,Octane,C8H18,111-65-9,114.22852,568.7,2.49,0.486,0.256,0.399552
52,266,Octanoic acid,C8H16O2,124-07-2,144.211,694.26,2.779,0.523,0.252,0.773427
53,267,1-Octanol,C8H18O,111-87-5,130.22792,652.3,2.783,0.509,0.261,0.569694
54,268,2-Octanol,C8H18O,123-96-6,130.228,629.8,2.749,0.512,0.269,0.58814

In [28]:
dfs[5].head()

,Cmpd. no.,Unnamed: 0,Name,Formula,CAS,Mol. wt.,"TC, K","PC, MPa","VC, m3/kmol",ZC,Acentric factor
0,269,2-Octanone,NaN,C8H16O,111-13-7,128.21204,632.7,2.640,0.497000,0.249,0.454874
1,270,3-Octanone,NaN,C8H16O,106-68-3,128.21204,627.7,2.704,0.496953,0.257,0.440561
2,271,1-Octene,NaN,C8H16,111-66-0,112.21264,566.9,2.663,0.464000,0.262,0.392149
3,272,Octyl mercaptan,NaN,C8H18S,111-88-6,146.29352,667.3,2.520,0.518000,0.235,0.449744
4,273,1-Octyne,NaN,C8H14,629-05-0,110.19676,574.0,2.880,0.442000,0.267,0.423290

In [29]:
dfs5 = dfs[5].dropna(axis=1)
dfs5.head()

,Cmpd. no.,Unnamed: 0,Formula,CAS,Mol. wt.,"TC, K","PC, MPa","VC, m3/kmol",ZC,Acentric factor
0,269,2-Octanone,C8H16O,111-13-7,128.21204,632.7,2.640,0.497000,0.249,0.454874
1,270,3-Octanone,C8H16O,106-68-3,128.21204,627.7,2.704,0.496953,0.257,0.440561
2,271,1-Octene,C8H16,111-66-0,112.21264,566.9,2.663,0.464000,0.262,0.392149
3,272,Octyl mercaptan,C8H18S,111-88-6,146.29352,667.3,2.520,0.518000,0.235,0.449744
4,273,1-Octyne,C8H14,629-05-0,110.19676,574.0,2.880,0.442000,0.267,0.423290

In [30]:
dfs5.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
dfs5.head()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
0,269,2-Octanone,C8H16O,111-13-7,128.21204,632.7,2.640,0.497000,0.249,0.454874
1,270,3-Octanone,C8H16O,106-68-3,128.21204,627.7,2.704,0.496953,0.257,0.440561
2,271,1-Octene,C8H16,111-66-0,112.21264,566.9,2.663,0.464000,0.262,0.392149
3,272,Octyl mercaptan,C8H18S,111-88-6,146.29352,667.3,2.520,0.518000,0.235,0.449744
4,273,1-Octyne,C8H14,629-05-0,110.19676,574.0,2.880,0.442000,0.267,0.423290

In [31]:
dfs[6].head()

,309,"1,2-Propylene glycol",C3H8O2,57-55-6,76.09442,626,6.1,0.239,0.28,1.10651
0,310,Quinone,C6H4O2,106-51-4,108.09476,683.00,5.9600,0.291,0.305,0.494515
1,311,Silicon tetrafluoride,F4Si,7783-61-1,104.07911,259.00,3.7200,0.202,0.349,0.385840
2,312,Styrene,C8H8,100-42-5,104.14912,636.00,3.8400,0.352,0.256,0.297097
3,313,Succinic acid,C4H6O4,110-15-6,118.08804,838.00,5.0000,0.330,0.237,0.743044
4,314,Sulfur dioxide,O2S,7446-09-5,64.06380,430.75,7.8841,0.122,0.269,0.245381

In [32]:
dfs6_linha = dfs[6].columns
dfs6_linha_df = pd.DataFrame(dfs6_linha)
dfs6 = dfs6_linha_df.T
dfs6.columns = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']
column_names = ['compound', 'Name', 'Formula', 'CAS','MolWeight', 'Tc', 'Pc', 'Vc', 'Zc', 'Acentric factor']

dfs[6].columns=column_names
dfs[6]
merged_ds6 = pd.concat([dfs6, dfs[6]], ignore_index=True)
merged_ds6.tail()

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
32,341,Vinyl trichlorosilane,C2H3Cl3Si,75-94-5,161.48972,543.15,3.06,0.408,0.276,0.281543
33,342,Water,H2O,7732-18-5,18.01528,647.096,22.064,0.055947,0.229,0.344861
34,343,m-Xylene,C8H10,108-38-3,106.165,617.0,3.541,0.375,0.259,0.326485
35,344,o-Xylene,C8H10,95-47-6,106.165,630.3,3.732,0.37,0.264,0.31013
36,345,p-Xylene,C8H10,106-42-3,106.165,616.2,3.511,0.378,0.259,0.321839

In [33]:
criticos = pd.concat([dfs0, dfs1, merged_ds2,dfs3, merged_ds4, dfs5, merged_ds6], ignore_index=True)
criticos

,compound,Name,Formula,CAS,MolWeight,Tc,Pc,Vc,Zc,Acentric factor
0,1,Acetaldehyde,C2H4O,75-07-0,44.05256,466.0,5.57,0.154,0.221,0.262493
1,2,Acetamide,C2H5NO,60-35-5,59.0672,761.0,6.6,0.215,0.224,0.421044
2,3,Acetic acid,C2H4O2,64-19-7,60.052,591.95,5.786,0.177,0.208,0.466521
3,4,Acetic anhydride,C4H6O3,108-24-7,102.08864,606.0,4.0,0.304,0.241,0.455328
4,5,Acetone,C3H6O,67-64-1,58.07914,508.2,4.701,0.209,0.233,0.306527
...,...,...,...,...,...,...,...,...,...,...
340,341,Vinyl trichlorosilane,C2H3Cl3Si,75-94-5,161.48972,543.15,3.06,0.408,0.276,0.281543
341,342,Water,H2O,7732-18-5,18.01528,647.096,22.064,0.055947,0.229,0.344861
342,343,m-Xylene,C8H10,108-38-3,106.165,617.0,3.541,0.375,0.259,0.326485
343,344,o-Xylene,C8H10,95-47-6,106.165,630.3,3.732,0.37,0.264,0.31013
344,345,p-Xylene,C8H10,106-42-3,106.165,616.2,3.511,0.378,0.259,0.321839

In [34]:
criticos.to_csv('criticos.csv', index=False)